<!DOCTYPE html>
<html>

<head>
  <title>lmao</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <div class="m-auto w-full h-[60px] flex items-center bg-[wheat]">
    <a href="#" class="text-xl font-bold pr-2">🎬 MyMovies</a>
    <div class="relative">
      <input type="text" placeholder="Search movies..."
        class="ml-10 pl-5 pr-10 w-auto py-2 rounded-lg text-black focus:outline-none focus:ring-2 focus:ring-blue-500" />
      <span class="absolute right-3 top-2.5 text-gray-500">🔍</span>
    </div>
    <div class="ml-auto">
      <select class="bg-gray-700 text-white px-3 py-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 ">
        <option>Genre</option>
        <option>Action</option>
        <option>Drama</option>
        <option>Comedy</option>
        <option>Horror</option>
      </select>
      <select
        class="bg-gray-700 text-white px-3 py-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 ">
        <option>Rating</option>
        <option>⭐ 5+</option>
        <option>⭐ 7+</option>
        <option>⭐ 8+</option>
      </select>
    </div>

  </div>

</body>

</html>
